/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

input.form-control{   
    border-radius: 0;
       border: none;
       border-bottom: 1px solid transparent;
       background: rgba(0, 0, 0, 0.1);
       transition: all 1s;
       -o-transition: all 1s;
       -moz-transition: all 1s;
       -webkit-transition: all 1s;
   }
   input.form-control:focus {
    border-color: #009587;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
    box-shadow: none;
  }

  /*dropdown error*/
select.form-control.ng-touched.ng-invalid{
    border-color: #dc3545;
  }

  div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }
  
  /* สี checkbox */
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color:darkcyan ;  /*violet*/
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: darkcyan !important;
  }