/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.btn-primary{
    border-radius: 1.5px;
    background: linear-gradient(to top right, #007bff, #a7d3f9);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 #acbdcc;
    color: #fff;
  }
.btn-default{
    border-radius: 1.5px;
    background: linear-gradient(to top right, #999999, #b3b2b2);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 #dbe1e6;
    color: #fff;
  }
.btn-success{
    border-radius: 1.5px;
    background: linear-gradient(to top right, #16be9a, #42e697);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(22, 190, 154, 0.5);
  color: #fff;
  } 
.btn-warning{
    border-radius: 1.5px;
    background: linear-gradient(to top right, #ff7403, #fac980);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(255, 116, 3, 0.5);
  color: #fff;
  } 
.btn-danger{
    border-radius: 1.5px;
    background: linear-gradient(to top right, #fa5167, #fda09c);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(250, 81, 103, 0.5);
  color: #fff;
  } 
.btn-info{
    border-radius: 1.5px;
    background: linear-gradient(to top right, #2cc3ff, #15f8bf);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(44, 195, 255, 0.5);
  color: #fff;
  }
  
/*input form*/
input.form-control{   
    border-radius: 0;
       border: none;
       border-bottom: 1px solid transparent;
       background: rgba(0, 0, 0, 0.1);
       transition: all 1s;
       -o-transition: all 1s;
       -moz-transition: all 1s;
       -webkit-transition: all 1s;
   }
input.form-control:focus {
    border-color: #009587;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
    box-shadow: none;
  }
input.ng-touched.ng-invalid {
    border-color: #dc3545;
  }
/*input form error*/ 
div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }

/*dropdown error*/
select.form-control.ng-touched.ng-invalid{
    border-color: #dc3545;
  }
select.form-control{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid transparent;
    background: rgba(0, 0, 0, 0.1);
    transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
  }
select.form-control:focus{
    border-color: #009587;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
    box-shadow: none;
  }

  /* สี checkbox */
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color:darkcyan ;  /*violet*/
  } 
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: darkcyan !important;
  }

/*.modal-header {
    border-top: 7px solid #19aa8d;
  }
*/
  /* FOOTER */
.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 13px 20px;
  position: absolute;
  right: 0;
}
.footer.fixed_full {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
}
.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  border-top: 1px solid #e7eaec;
  margin-left: 220px;
}
body.mini-navbar .footer.fixed,
body.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 70px;
}
body.mini-navbar.canvas-menu .footer.fixed,
body.canvas-menu .footer.fixed {
  margin: 0 !important;
}
body.fixed-sidebar.body-small.mini-navbar .footer.fixed {
  margin: 0 0 0 220px;
}
body.body-small .footer.fixed {
  margin-left: 0;
}

/**/


.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.float-e-margins .btn {
  margin-bottom: 5px;
}

.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}
.label-primary,
.badge-primary {
background-color: #1ab394;
color: #FFFFFF;
}
.label-success,
.badge-success {
background-color: #1c84c6;
color: #FFFFFF;
}
.label-warning,
.badge-warning {
background-color: #f8ac59;
color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
background-color: #f8ac59;
color: #ffffff;
}
.label-danger,
.badge-danger {
background-color: #ed5565;
color: #FFFFFF;
}
.label-info,
.badge-info {
background-color: #23c6c8;
color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
background-color: #262626;
color: #FFFFFF;
}
.label-white,
.badge-white {
background-color: #FFFFFF;
color: #5E5E5E;
}
.label-white,
.badge-disable {
background-color: #2A2E36;
color: #8B91A0;
}
.no-margins {
margin: 0 !important;
}
.stat-percent {
float: right;
}
.font-bold {
font-weight: 600;
}
/* COLORS */
.text-navy {
color: #1ab394;
}
.text-primary {
color: inherit;
}
.text-success {
color: #1c84c6;
}
.text-info {
color: #23c6c8;
}
.text-warning {
color: #f8ac59;
}
.text-danger {
color: #ed5565;
}
.text-muted {
color: #888888;
}
.text-white {
color: #ffffff;
}
.wrapper {
padding: 0 20px;
}
.wrapper-content {
padding: 20px 10px 40px;
}

.modal-header-color{
  background-color: #f6f6f6;
}
.modal-footer-color{
  background-color: #f6f6f6;
}

input:disabled{
  cursor:not-allowed
}
button:disabled{
  cursor:not-allowed
}
