<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
      <h1>MembeR</h1>
  </div>
  <div class="login-box">
      <form class="login-form"  #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
          <h3 class="login-head">
              <i class="fa fa-lg fa-fw fa-user-plus"></i>
              รีเซ็ตรหัสผ่าน
          </h3>
          <div class="form-group">
              <label class="control-label">รหัสผ่าน</label>
              <input class="form-control" type="password"  name="PASSWORD" #PASSWORD="ngModel" [(ngModel)]="service.formResetPassword.PASSWORD" class="form-control" required>
              <!--<div class="validation-error" *ngIf="PASSWORD.invalid && PASSWORD.touched">This field is required.</div>-->
          </div>
          <div class="form-group">
              <label class="control-label">ยืนยันรหัสผ่าน</label>
              <input class="form-control confirm-password" type="password" appConfirmEqualValidator="PASSWORD"  name="CONFIRM_PASSWORD" #CONFIRM_PASSWORD="ngModel" [(ngModel)]="service.formResetPassword.CONFIRM_PASSWORD" class="form-control" required >
              <!--<div class="validation-error" *ngIf="CONFIRM_PASSWORD.errors?.required && CONFIRM_PASSWORD.touched">This field is required.</div>-->
              <div class="validation-error" *ngIf="CONFIRM_PASSWORD.errors?.notEqual && !CONFIRM_PASSWORD.errors?.required" >Password confirn don't match</div>
          </div>
          <div class="form-group btn-container">
              <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid">
                  <i class="fa fa-sign-in fa-lg fa-fw"></i>
                  รีเซ็ท
              </button>
          </div>
      </form>
  </div>
</section>