<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <!--<a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <div class="avatar-wrap">
    <div class="avatar">
      <a href="#">
        <img src="{{logoImgSrc}}" alt="avatar" >
      </a>
    </div>
    <div class="user-info-wrap">
      <span class="user-name" >{{userName}}</span>
      <span class="user-post" >{{userPost}}</span>
    </div>
  </div>

  <div class="collapse navbar-collapse ">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <a>
        <img src="{{userImgSrc}}" alt="user" style="width: 38px; border-radius: 50%;">
      </a>&nbsp;
      <li class="nav-item">
        <a class="nav-link disabled">{{username}}</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -128px;margin-top: 22px;">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer" (click)="logOut()"><i class="fa fa-fw fa-share-square-o"></i>&nbsp;
            <span>ออกจากระบบ</span></a>
        </div>
    </ul>
  </div>
</nav>

