.btn-primary {
    border-radius: 1.5px;
    background: linear-gradient(to top right, #007bff, #a7d3f9);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 #acbdcc;
    color: #fff;
  }
  .btn-default {
    border-radius: 1.5px;
    background: linear-gradient(to top right, #999999, #b3b2b2);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 #dbe1e6;
    color: #fff;
  }
  .btn-success {
    border-radius: 1.5px;
    background: linear-gradient(to top right, #16be9a, #42e697);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(22, 190, 154, 0.5);
    color: #fff;
  }
  
  .btn-warning {
    border-radius: 1.5px;
    background: linear-gradient(to top right, #ff7403, #fac980);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(255, 116, 3, 0.5);
    color: #fff;
  }
  
  .btn-danger {
    border-radius: 1.5px;
    background: linear-gradient(to top right, #fa5167, #fda09c);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(250, 81, 103, 0.5);
    color: #fff;
  }
  
  .btn-info {
    border-radius: 1.5px;
    background: linear-gradient(to top right, #2cc3ff, #15f8bf);
    border: none;
    -webkit-box-shadow: 0 2px 10px 0 rgba(44, 195, 255, 0.5);
    color: #fff;
  }