<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">

<!--main folder หลอด upload file-->
<ng-template #mainFolderUploadFileContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">อัพโหลดไฟล์</h4>
    <button
      id="closeModal"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click'); clearUploadButton();"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <div *ngIf="currentFileUpload" class="progress" style="width: 437px;margin-left: 12px;">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}"><!--{{progress.percentage}}%-->
        </div>
      </div>
      <div class="form-group" style="margin: 0 auto;">
        <div style="margin-left:13px; margin-top:7px;">
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" multiple>
          </label>
          <button id="btn-upload" class="btn btn-success" [disabled]="uploadButton" (click)="uploadFileMainFolder()">อัพโหลด</button>
        </div>
      </div>
  </div>
  
  <div class="modal-footer">
  </div>
</ng-template>
<!--end main folder หลอด upload file-->

<!--sub folder หลอด upload file-->
<ng-template #subFolderUploadFileContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">อัพโหลดไฟล์</h4>
    <button
      id="closeModalSubFolder"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click') ; clearUploadButton();"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <div *ngIf="currentFileUpload" class="progress" style="width: 437px;margin-left: 12px;">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}"><!--{{progress.percentage}}%-->
        </div>
      </div>
      <div class="form-group" style="margin: 0 auto;">
        <div style="margin-left:13px; margin-top:7px;">
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)" multiple>
          </label>
          <button id="btn-upload" class="btn btn-success" [disabled]="uploadButton" (click)="uploadFileSubFolder()">อัพโหลด</button>
        </div>
      </div>
  </div>
  
  <div class="modal-footer">
  </div>
</ng-template>
<!--end sub folder หลอด upload file-->

<!--Main Folder Modal-->
<ng-template #mainFolderContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">สร้างโฟลเดอร์</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click'); resetForm(); clearMainFolderValue() "
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #form="ngForm" autocomplete="off">
    <div class="modal-body">
      <input
        type="hidden"
        name="FOLDER_ID"
        #FOLDER_ID="ngModel"
        [(ngModel)]="service.formData.FOLDER_ID"
      />
      <div class="form-group">
        <label>ชื่อโฟลเดอร์</label>
        <input
          name="FOLDER_NAME"
          #FOLDER_NAME="ngModel"
          [(ngModel)]="service.formData.FOLDER_NAME"
          class="form-control"
          required
        />
        <div
          class="validation-error"
          *ngIf="
            FOLDER_NAME.invalid && FOLDER_NAME.touched
          "
        >
          This field is required.
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group" style="margin: 0 auto;">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="btn btn-sm btn-primary"
          style="width:80px"
          (click)="onSubmit(form); modal.close('Close click')"
        >
          บันทึก</button
        >&nbsp;&nbsp;
        <button
          type="button"
          class="btn btn-sm btn-default"
          (click)="modal.close('Close click'); resetForm(); clearMainFolderValue()"
          style="width:80px"
        >
          ยกเลิก
        </button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Main Folder Modal-->

<!--Sub Folder Modal-->
<ng-template #subFolderContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">สร้างโฟลเดอร์</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click'); resetForm(); clearSubFolderValue()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #formSubFolderData="ngForm" autocomplete="off">
    <div class="modal-body">
      <input
        type="hidden"
        name="FOLDER_ID"
        #FOLDER_ID="ngModel"
        [(ngModel)]="service.formSubFolder.FOLDER_ID"
      />
      <input
        type="hidden"
        name="SUB_FOLDER_ID"
        [(ngModel)]="valueMainFolderId"
      />

      <div class="form-group">
        <label>ชื่อโฟลเดอร์</label>
        <input
          name="FOLDER_NAME"
          #FOLDER_NAME="ngModel"
          [(ngModel)]="service.formSubFolder.FOLDER_NAME"
          class="form-control"
          required
        />
        <div
          class="validation-error"
          *ngIf="
          FOLDER_NAME.invalid && FOLDER_NAME.touched
          "
        >
          This field is required.
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group" style="margin: 0 auto;">
        <button
          type="submit"
          [disabled]="formSubFolderData.invalid"
          class="btn btn-sm btn-primary"
          style="width:80px"
          (click)="
            onSubmitSubfolder(formSubFolderData); modal.close('Close click')
          "
        >
          บันทึก</button
        >&nbsp;&nbsp;
        <button
          type="button"
          class="btn btn-sm btn-default"
          (click)="modal.close('Close click'); resetForm(); clearSubFolderValue()"
          style="width:80px"
        >
          ยกเลิก
        </button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Sub Folder Modal-->







<div class="wrapper wrapper-content">
<div class="card card-block animated fadeIn">
  <div class="row">
    <div class="col-md-12" style="max-width: 98%;margin: auto;">
      <label class="control-label col-md-12" style="margin-left:-15px"
        >My File
      </label>
      <div class="btn-group">

<!--main folder button -->
        <div class="btn-wrap division" *ngIf="swCreateMainFolderButton">
          <button
            type="button"
            class="btn btn-sm btn-success btn-with-icon"
            (click)="openSm(mainFolderContent)"
          >
            <i class="fa fa-folder-o fa-fw"></i>สร้างโฟลเดอร์
          </button>
        </div>
<!--end main folder button -->

<!--sub folder button -->
        <div class="btn-wrap division" *ngIf="swCreateSubFolderButton">
          <button
            type="button"
            class="btn btn-sm btn-success btn-with-icon"
            (click)="setId(); openSm(subFolderContent)"
          >
            <i class="fa fa-folder-o fa-fw"></i>สร้างโฟลเดอร์
          </button>
        </div>
<!--end sub folder button -->

<!--main folder button -->
        <div class="btn-wrap division" *ngIf="swMainFolderUploadFileButton">
          <button
            type="button"
            class="btn btn-sm btn-success btn-with-icon"
            (click)="openWindowCustomClass(mainFolderUploadFileContent)"
          >
            <i class="fa fa-upload fa-fw"></i>อัพโหลดไฟล์
          </button>
        </div>
<!--end main folder button -->

<!--sub folder button -->
        <div class="btn-wrap division" *ngIf="swSubFolderUploadFileButton">
          <button
            type="button"
            class="btn btn-sm btn-success btn-with-icon"
            (click)="openWindowCustomClass(subFolderUploadFileContent)"
          >
            <i class="fa fa-upload fa-fw"></i>อัพโหลดไฟล์
          </button>
        </div>
<!--end sub folder button -->

<!--main folder button -->
        <div class="btn-wrap division" *ngIf="swSelectMainFolderButton">
          <button
            type="button"
            class="btn btn-sm btn-success dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            [disabled]="disableSelectedButton"
            (click) = "onSelectButton()"
          >
            รายการที่เลือก <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="swDeleteFile" class="dropdown-item cursor-pointer" (click)="onDownload()">ดาวน์โหลดไฟล์</a><!--swDeleteFile ใช้กับไฟล์-->
            <a *ngIf="swDeleteFolder" class="dropdown-item cursor-pointer" (click)="onDelete()">ลบโฟลเดอร์</a>
            <a *ngIf="swDeleteFile" class="dropdown-item cursor-pointer" (click)="onDeleteFile()">ลบไฟล์</a>
            <a
              *ngIf="swEditMenu && swDeleteFolder"
              class="dropdown-item cursor-pointer"
              (click)="setValueMainFolderForm(); openSm(mainFolderContent)"
              >แก้ไขโฟลเดอร์</a
            >
          </div>
        </div>
<!--end main folder button -->

<!--sub folder button -->
        <div class="btn-wrap division" *ngIf="swSelectSubFolderButton">
          <button
            type="button"
            class="btn btn-sm btn-success dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            [disabled]="disableSelectedButton"
            (click) = "onSelectButton()"
          >
            รายการที่เลือก <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="swDeleteFile" class="dropdown-item cursor-pointer" (click)="onDownload()">ดาวน์โหลดไฟล์</a><!--swDeleteFile ใช้กับไฟล์-->
            <a *ngIf="swDeleteFolder" class="dropdown-item cursor-pointer" (click)="onDeleteSubFolder()">ลบโฟลเดอร์</a>
            <a *ngIf="swDeleteFile" class="dropdown-item cursor-pointer" (click)="onDeleteFile()">ลบไฟล์</a>
            <a
              *ngIf="swEditMenu && swDeleteFolder"
              class="dropdown-item cursor-pointer"
              (click)="setValuesubFolderForm() ; openSm(subFolderContent)"
              >แก้ไขโฟลเดอร์</a
            >
          </div>
        </div>
<!--end sub folder button -->        

<!--main folder button and sub folder button -->
        <div class="btn-wrap division">
          <button
            type="button"
            class="btn btn-sm btn-success btn-with-icon"
            (click)="backToMainFolder()"
            [disabled]="disableBackButton"
          >
            <i class="fa fa-reply-all fa-fw"></i>กลับ
          </button>
        </div>
      </div>
<!--main folder button and sub folder button -->      

<!--ส่วนของ main folder element-->
      <div *ngIf="swMainFolderElement">
        <table class="table table-bordered table-hover">
          <tbody *ngFor="let emp of service.list | paginate: { itemsPerPage: 5, currentPage: paginationMainfolder }">
            <td style="width:5px">
              <div>
                <mat-checkbox
                  (change)="changeCheck($event, emp.ID , emp.NAME , emp.TYPE)"
                ></mat-checkbox>
              </div>
            </td>
            <td>
              <div *ngIf="emp.TYPE == 'folder';else content">
                <img
                  id="img-folder"
                  src="assets/images/folder.jpg"
                  alt="avatar"
                  style="width: 60px;height: 60px;"
                  (click)="onSelectFolder(emp.ID)"
                />
                <span
                  id="name-folder"
                  (click)="onSelectFolder(emp.ID)"
                  style="margin-left: 10px"
                  >{{ emp.NAME }}</span
                >
              </div>
              <ng-template #content>
                  <img
                  src="assets/images/file-logo.png"
                  alt="avatar"
                  style="width: 60px;height: 60px;"                 
                />
                <span             
                  style="margin-left: 10px"
                  >{{ emp.NAME }}</span
                >
              </ng-template>
            </td>
          </tbody>
          
        </table>
        <div *ngIf="checkPaginationMainfolder">
          <pagination-controls (pageChange)="paginationMainfolder = $event"></pagination-controls>
        </div>
      </div>

<!--sub folder element-->  
      <div *ngIf="swSubFolderElement">
        <table class="table table-bordered table-hover">
          <tbody *ngFor="let emp of service.listSubFolder | paginate: { itemsPerPage: 5, currentPage: paginationSubfolder }">
            <td style="width:5px">
              <div>
                <mat-checkbox
                  (change)="changeCheck($event, emp.ID , emp.NAME , emp.TYPE)"
                ></mat-checkbox>
              </div>
            </td>
            <td>
              <div *ngIf="emp.TYPE == 'subfolder';else content">
                <img
                  id="img-folder"
                  src="assets/images/folder.jpg"
                  alt="avatar"
                  style="width: 60px;height: 60px;"
                  (click)="onSelectFolder(emp.ID)"
                />
                <span
                  id="name-folder"
                  (click)="onSelectFolder(emp.ID)"
                  style="margin-left: 10px"
                  >{{ emp.NAME }}</span
                >
              </div>
              <ng-template #content>
                  <img
                  src="assets/images/file-logo.png"
                  alt="avatar"
                  style="width: 60px;height: 60px;"                 
                />
                <span             
                  style="margin-left: 10px"
                  >{{ emp.NAME }}</span
                >
              </ng-template>
            </td>
          </tbody>
        </table>
        <div *ngIf="checkPaginationSubfolder">
          <pagination-controls (pageChange)="paginationSubfolder = $event"></pagination-controls>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
<!--
<div>
  <label>PDF src</label>
  <input (change)="onFileSelected()" type="file" id="file">
</div>
<pdf-viewer [src]="pdfSrc" 
            [render-text]="true"
            style="display: block;">
</pdf-viewer>
-->

<div class="footer">
  <div>
    Document Management &copy; 2019
  </div>
</div>
</section>